<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>myArk||Games</title><link rel="stylesheet" href="style.css">

    </head>
    <body>
        {{  #games  }}
        <div id="particles-js">
            <a href="/game/{{ id }}">
                <img src="{{  imagelocation  }}" alt="">
            </a>
            <h3>{{ name }}</h3>

        </div>
        {{  /games}}
        <script src="particles.js"></script>
        <script src="particleinit.js"></script>
    </body>
</html>