<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>myArk||{{  name  }}</title><link rel="stylesheet" src="https://myark9101.herokuapp.com/public/style.css" type="text/css">

    </head>
    <body>
  
        <div id="particles-js">
            <a href="/game">
               go Back
            </a>
            <h3>{{ name }}</h3>
            <iframe src="{{  link  }}" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
           
        </div>
    
        <script src="public/particles.js"></script>
        <script src="public/particleinit.js"></script>
    </body>
</html>