body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}
#particles-js{
height: 100%;
background-color: black;
}

.startbutton{
    width: 60vw;
    height: auto;
    margin-top: 50%;
    margin-bottom: 50%;
    padding-left: 20vw;
    padding-right: 20vw;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-top:20px;
    margin-right: auto;
}
img{
    height: 300px;
    width: 233px;
    border-style: solid;
    border-width: 10px;
    border-color: red;
}
.gamebox{
    flex: 1 0 21%; 
    margin: 5px;
   
}

img:hover {
    border-style: solid;
    border-width: 10px;
    border-color: yellow ;
}